[submodule "Steering"]
	path = Steering
	url = https://Shirkit@gitent-scm.com/git/fortresswars/Steering.git
[submodule "NavMesh"]
	path = NavMesh
	url = https://Shirkit@gitent-scm.com/git/fortresswars/NavMesh.git
